@{
    ViewBag.Title = "Página não encontrada";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3>Página não encontrada.</h3>
        </div>
        <div class="panel-body">
            <h4>Verifique o endereço digitado e tente novamente.</h4>
        </div>
    </div>
</div>